.container {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 90dvh;
    margin: 0 auto;
    background-color: rgb(245, 245, 220, .3);
    border-right: 1px solid rgb(192, 192, 192, .4);
    border-left: 1px solid rgb(192, 192, 192, .4);
}

.profileContainer {
    width: 25%;
}

.reposInfoContainer {
    width: 75%;
}

@media only screen and (max-width: 1050px) {
    .container {
        flex-direction: column;
        width: 100vw;
        border: none;
    }

    .profileContainer {
        height: 25%;
        width: 100vw;
    }

    .reposInfoContainer {
        height: 75%;
        width: 100vw;
    }
}

@media only screen and (max-width: 480px) {
    .profileContainer {
        height: 20%;
        width: 100vw;
    }

    .reposInfoContainer {
        height: 80%;
        width: 100vw;
    }
}