.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90dvh;
}

.profileContainer {
    width: 25%;
    background-color: yellow;
}

.reposInfoContainer {
    width: 75%;
    background-color: blue;
}

@media only screen and (max-width: 1100px) {
    .container {
        flex-direction: column;
    }

    .profileContainer {
        height: 25%;
        width: 100vw;
        background-color: yellow;
    }

    .reposInfoContainer {
        height: 75%;
        width: 100vw;
        background-color: blue;
    }
}