.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100vw;
    height: 10dvh;
    background-color: #F5F5DC;
    border-bottom: 2px solid rgb(192, 192, 192, .4);
}

.githubicon {
    height: 2rem;
    width: 2rem;
}

.repoLabelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    border-bottom: 2px solid orange;
    padding: 2px;
    margin-bottom: -2px;
}

.repoLabelText {
    text-align: center;
    width: 80%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
}

.repoLabelText:hover {
    background-color: rgb(220, 220, 245, .7);
    color: #1f1f1f;
}